.dcl.empty {
  position: relative;
  border-radius: 8px;
  color: var(--secondary-text);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: none;
  background: #282e4e;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}

.dcl.empty.expand {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
